/* 사용하게될 폰트 이곳에서 관리*/

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Medium.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-Bold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
